<style>
.felt {
      width: 300px;
      height: 300px;
      background-image: url('../felt.jpg');
      background-color: green;
      position: relative;
      top: 25px;
      left: 25px;
}
.back {
      position: absolute;
      top: 50px;
      left: 65px;
      z-index: 1;
}
.king {
      position: absolute;
      top: 60px;
      left: 65px;
      z-index: 2;
}
.queen {
      position: absolute;
      top: 70px;
      left: 65px;
      z-index: 3;
}
.jack {
      position: absolute;
      top: 80px;
      left: 65px;
      z-index: 4;
}
.dia {
      position: absolute;
      top: 90px;
      left: 65px;
      z-index: 5;
}
.gradient {
      background-image: url('../gradient.jpg');
      background-repeat: repeat-x;
      background-color: gray;
}

</style>
